<div fxLayout="column" fxLayoutAlign="center center" class="signin">
  <p style="font-size: 45px"><strong> Sign In </strong></p>
  <a fxFlexOffset="8px" routerLink="/register">Need an account?</a>
  <div fxFlexOffset="20px" fxLayout fxLayoutAlign="center center">
    <form fxFlex="400px" fxLayout="column" class="example-form" (ngSubmit)="OnSignIn(f)" #f="ngForm">
      <ul class="errormessage" *ngIf="errors">
        <li *ngFor="let error of errors">
          {{ error }}
        </li>
      </ul>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Email" ngModel name="email" required email #email="ngModel">
      </mat-form-field>
      <!-- <span class="errormessage" *ngIf="!email.valid && email.touched">Please enter a valid email!</span> -->
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Password" ngModel name="password" type="password" required #password="ngModel">
      </mat-form-field>
      <!-- <span class="errormessage" *ngIf="password.value!=null && password.value.length < 8 && password.touched">Password can't be blank and minimum of 8 character</span > -->
      <div class="submit" fxLayout fxLayoutAlign="end">
        <button type="submit" [disabled]="!f.valid">Sign In</button>
      </div>
    </form>
  </div>
</div>